*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.env
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
public
.vscode/*
node_modules
data/assets.json
dist
# Keep environment variables out of version control
.env
CREDENTIALS
data/chunks/*
data/links-chunks/*
sessions/*
.cache*