# Ubuntu SystemD service file for WeGo app

 ## FIX USER TO USE A REAL APP USER WITH RESTRICTED PERMISSIONS

[Unit]
Description=WeGo API Backend Service
After=network.target

[Service]
User=ec2-user
EnvironmentFile=/etc/wego/env
WorkingDirectory=/home/ec2-user/app
ExecStart=/home/ec2-user/.nvm/versions/node/v17.0.1/bin/node server/index.js
Type=simple
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
